* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/******* pop-up ******/


#select {
    display: grid;
    grid-template-areas: "billede""tekst""musik";
    grid-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
}

@media only screen and (min-width: 700px) {

    #select {
        grid-template-areas: "billede tekst""musik musik";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}






.selectColumn {
    grid-area: tekst;
}

.selectImg {
    grid-area: billede;
}


.selectSpotify {
    grid-area: musik;
    margin: 0 auto;
}

#luk {
    text-align: right;
    padding: 20px 20px 0 0;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family: "lato", sans-serif;
}



img {
    width: 100%;
}


p {
    margin: 10px 0 0 0px;
    color: #323232;
    font-family: 'Lato', sans-serif;
    line-height: 1.4rem
}



h2 {
    margin: 10px 0 0 0px;
    font-family: 'Lato', sans-serif;
    color: #233644;
}
