* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 90%;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}





/************************* SPLASH **************************/



#splashContainer {
    width: 100vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 100px 0 0 0;

}


#splash1 {
    width: 50vw;
    height: 74.4vw;
    max-width: 500px;
    max-height: 744px;
    background-image: url(imgs/splash5.jpg);
    background-size: cover;
    display: none;

}


#splash2 {
    width: 80vw;
    height: 56.33vw;
    max-width: 500px;
    max-height: 352.11px;
    background-image: url(imgs/logo1.svg);
    background-size: cover;
    margin: 0 0 100px 0;

}










/******************* styling på section ***********************/

section {
    width: 90vw;
    max-width: 1400px;
    margin: 50px auto;
    background-color: white;
}


#container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


img {
    width: 100%;
}

article {
    margin: 0 0 25px 0;
}

article:hover {
    cursor: pointer;
}



p {
    color: #323232;
    font-family: 'Space Mono', sans-serif;
    font-size: 1rem;
}

b {
    font-weight: 700;
}


.selectColumn p {
    margin: 0 0 10px 0;
}

h1 {
    color: #323232;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    padding: 0 0 15px 0;
    align-self: flex-end;
}

h2 {
    color: #323232;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 15px 0;
}



h3 {
    color: #323232;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}



.overskriftFlex {
    display: flex;
}

.kategoriLogo {
    background-image: url("imgs/genreLogo.svg");
    height: 40px;
    width: 50px;
    margin: 0 0 20px 0;
    background-size: cover;

}













/********************** styling på navigation *****************************/

header {
    position: fixed;
    /*For gøre headeren relativ ifht skærmer, og derved fastgjordt i toppen */
    width: 100%;
    /* Headeren fylder nu hele bredten */
    display: flex;
    /* Flexer de indeværende elementer ud på en række */
    justify-content: space-between;
    /* Laver lige meget plads mellem alle elementer. Fordi der altid kun vil være vist 2 elementer, skubbes de til hver sin kant */
    padding: 0 5vw;
    /* padding i begge side for at aligne med resten af sidens indhold */
    background-color: white;
    z-index: 2;
    /* Et af splash-billederne har z-index 1. For at headeren ligger ovenpå splash-billedet har den derfor z-index 2 */
    border-bottom: 0.5px solid #e2e2e2;
    /* Da header og main begger er hvide, er headeren gjordt tydeligere med en lille grålig streg*/
}

nav {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0) 100%);
    /* lodret opacity-gradiant på nav'en, så man ane de undeliggen elementer, når nav er foldet ud på mobil  */
    position: absolute;
    /* for at gøre nav'ens placering relativ - fjernes senere i mediaquerry for desktop */
    left: 0;
    top: 74.7px;
    /* placerer nav under header. (header height=74.7px */
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    /* sætter tid for animation */
    transform-origin: top left;
    /* sætter animationens akse */
    padding: 40px 0 100% 0;
    /* 100% padding i bunden for at nav fylder hele skærmen på mobil */
}

/* Selve animationen for nav toggle */
.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

#menuknap {
    background-image: url(imgs/burgermenu.svg);
    /* svg som indeholder både burger-ikon og X (til sprite-animation) */
    width: 73.71px;
    height: 73.71px;
    background-size: 200% 100%;
    /* angiver at svg'en er dobbelt så bred som den er vist */

}

/* Denne class vil, vha js, toggle svg'ens position så den skifter mellen burger og X */
.menuPosition {
    background-position: 100%;
}












.logoRef {
    display: block;
    height: 100%;
}

#navLogo {
    background-image: url("imgs/logo2.svg");
    background-size: cover;
    width: 120px;
    height: 73.71px;
}


#menuknap:hover {
    cursor: pointer;
}


#tilbage {
    background-image: url("imgs/tilbage.svg");
    width: 73.71px;
    height: 73.71px;
    background-size: cover;
}

#tilbage:hover {
    cursor: pointer;
}















/************************* styling på knapper **********************/

button {
    padding: 5px 10px;
    margin: 10px auto;
    border: none;
    background-color: white;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #233644;

}


button:focus {
    outline: none;
}


button:hover {
    cursor: pointer;
}

.valgt {
    border-bottom: 6px solid #71BFFF;
}












/************************** Styling på single-view ************************/
#select {
    display: grid;
    grid-template-areas: "billede""musik""tekst";
    grid-gap: 15px;
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.selectColumn {
    grid-area: tekst;
}

.selectImg {
    grid-area: billede;
}

.selectSpotify {
    grid-area: musik;
    width: 100%;
}









/************************* foooter ************************/

footer {
    padding: 70px 0;
    border-top: 0.5px solid #e2e2e2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer p {
    margin: 0 auto;
    align-self: center;
    opacity: 0.8;
}

.footerLogo {
    background-image: url("imgs/logo1.svg");
    background-size: cover;
    width: 150px;
    height: 105.6px;
    margin: 0 auto 30px auto;
}













/********************** MEDIAS ************************/



@media only screen and (min-width: 700px) {


    /******************** SPLASH *************/
    #splash1 {
        display: block;
        transform: translateX(5vw);
    }

    #splash2 {
        z-index: 1;
        transform: translateX(-5vw) translateY(3vw);
        width: 50vw;
        height: 35.21vw;
        margin: 0;
    }









    /************************* single-view ***********************/

    #select {
        grid-template-areas: "billede tekst""billede musik";
        grid-template-columns: 1fr 1fr;
        margin: 0 auto 70px auto;
    }
}















@media only screen and (min-width: 800px) {

    /************************* FOOOOTER ***********************/

    footer {
        flex-direction: row;
    }

    .footerLogo {
        margin: 0 auto;
    }








    /************************** HEADER SKJULT NAV *************************/
    .hidden {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        position: static;
        flex-direction: row;
        justify-content: center;
        width: auto;
        margin: auto 0;
        padding: 0;
    }

    button {
        margin: 10px 20px;
    }

    #menuknap {
        display: none;
    }

}
