* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 80%;
}





/****** SPLASH *******/



#splashContainer {
    width: 100vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;

}


#splash1 {
    width: 50vw;
    height: 75vw;
    max-width: 500px;
    max-height: 750px;
    background-image: url(imgs/splash1.jpg);
    background-size: cover;
    display: none;

}


#splash2 {
    width: 80vw;
    height: 56.33vw;
    max-width: 500px;
    max-height: 352.11px;
    background-image: url(imgs/logo1.svg);
    background-size: cover;
    margin: 0 0 100px 0;

}

@media only screen and (min-width: 700px) {
    #splash1 {
        display: block;
        transform: translateX(5vw);
    }

    #splash2 {
        z-index: 1;
        transform: translateX(-5vw) translateY(3vw);
        width: 50vw;
        height: 35.21vw;
        margin: 0;
    }

}








/*** styling på section ****/


#container {
    width: 90vw;
    max-width: 1400px;
    margin: 50px auto;
    background-color: white;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


img {
    width: 100%;
}

article {
    margin: 0 0 20px 0;
}



p {
    color: #323232;
    font-family: 'Space Mono', sans-serif;
}

h3 {
    color: #323232;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
}










/***** styling på navigation ***/

nav {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

/***** styling på knapper ***/

button {
    padding: 5px 10px;
    margin: 10px 20px;
    border: none;
    background-color: white;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #233644;
}

.valgt {
    text-decoration: underline;
}
